---
swagger: "2.0"
info:
  version: "v1.11.0"
  title: "Label Studio API"
  contact:
    url: "https://labelstud.io"
  x-logo:
    url: "../../static/icons/logo-black.svg"
host: "api.labelstud.io"
basePath: "/"
schemes:
- "http"
consumes:
- "application/json"
produces:
- "application/json"
security:
- Token: []
paths:
  /api/annotations/{id}/:
    get:
      tags:
      - "Annotations"
      summary: "Get annotation by its ID"
      description: "Retrieve a specific annotation for a task using the annotation\
        \ result ID."
      operationId: "api_annotations_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this annotation."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Annotation"
    delete:
      tags:
      - "Annotations"
      summary: "Delete annotation"
      description: "Delete an annotation. This action can't be undone!"
      operationId: "api_annotations_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this annotation."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Annotations"
      summary: "Update annotation"
      description: "Update existing attributes on an annotation."
      operationId: "api_annotations_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this annotation."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/Annotation"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Annotation"
  /api/current-user/reset-token/:
    post:
      tags:
      - "Users"
      summary: "Reset user token"
      description: "Reset the user token for the current user."
      operationId: "api_current-user_reset-token_create"
      parameters: []
      responses:
        "201":
          description: "User token response"
          schema:
            $ref: "#/definitions/inline_response_201"
  /api/current-user/token:
    get:
      tags:
      - "Users"
      summary: "Get user token"
      description: "Get a user token to authenticate to the API as the current user."
      operationId: "api_current-user_token_list"
      parameters: []
      responses:
        "200":
          description: "User token response"
  /api/current-user/whoami:
    get:
      tags:
      - "Users"
      summary: "Retrieve my user"
      description: "Retrieve details of the account that you are using to access the\
        \ API."
      operationId: "api_current-user_whoami_read"
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/BaseUser"
  /api/dm/actions/:
    get:
      tags:
      - "Data Manager"
      summary: "Get actions"
      description: "Retrieve all the registered actions with descriptions that data\
        \ manager can use."
      operationId: "api_dm_actions_list"
      parameters: []
      responses:
        "200":
          description: ""
    post:
      tags:
      - "Data Manager"
      summary: "Post actions"
      description: "Perform an action with the selected items from a specific view."
      operationId: "api_dm_actions_create"
      parameters: []
      responses:
        "201":
          description: ""
  /api/dm/columns/:
    get:
      tags:
      - "Data Manager"
      summary: "Get data manager columns"
      description: "Retrieve the data manager columns available for the tasks in a\
        \ specific project."
      operationId: "api_dm_columns_list"
      parameters: []
      responses:
        "200":
          description: ""
  /api/dm/project/:
    get:
      tags:
      - "Data Manager"
      summary: "Get project state"
      description: "Retrieve the project state for the data manager."
      operationId: "api_dm_project_list"
      parameters: []
      responses:
        "200":
          description: ""
  /api/dm/views/:
    get:
      tags:
      - "Data Manager"
      summary: "List views"
      description: "List all views for a specific project."
      operationId: "api_dm_views_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/View"
    post:
      tags:
      - "Data Manager"
      summary: "Create view"
      description: "Create a view for a specific project."
      operationId: "api_dm_views_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/View"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/View"
  /api/dm/views/reset/:
    delete:
      tags:
      - "Data Manager"
      summary: "Reset project views"
      description: "Reset all views for a specific project."
      operationId: "api_dm_views_reset"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/ViewReset"
        x-exportParamName: "Data"
      responses:
        "204":
          description: ""
  /api/dm/views/{id}/:
    get:
      tags:
      - "Data Manager"
      summary: "Get view details"
      description: "Get the details about a specific view in the data manager"
      operationId: "api_dm_views_read"
      parameters:
      - name: "id"
        in: "path"
        description: "View ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/View"
    put:
      tags:
      - "Data Manager"
      summary: "Put view"
      description: "Overwrite view data with updated filters and other information\
        \ for a specific project."
      operationId: "api_dm_views_update"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/View"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "View ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/View"
    delete:
      tags:
      - "Data Manager"
      summary: "Delete view"
      description: "Delete a specific view by ID."
      operationId: "api_dm_views_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "View ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Data Manager"
      summary: "Update view"
      description: "Update view data with additional filters and other information\
        \ for a specific project."
      operationId: "api_dm_views_partial_update"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/View"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "View ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/View"
  /api/import/file-upload/{id}:
    get:
      tags:
      - "Import"
      summary: "Get file upload"
      description: "Retrieve details about a specific uploaded file."
      operationId: "api_import_file-upload_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this file upload."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/FileUpload"
    delete:
      tags:
      - "Import"
      summary: "Delete file upload"
      description: "Delete a specific uploaded file."
      operationId: "api_import_file-upload_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this file upload."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Import"
      summary: "Update file upload"
      description: "Update a specific uploaded file."
      operationId: "api_import_file-upload_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this file upload."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/FileUpload"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/FileUpload"
  /api/invite:
    get:
      tags:
      - "Invites"
      summary: "Get organization invite link"
      description: "Get a link to use to invite a new member to an organization in\
        \ Label Studio Enterprise."
      operationId: "api_invite_read"
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/OrganizationInvite"
  /api/invite/reset-token:
    post:
      tags:
      - "Invites"
      summary: "Reset organization token"
      description: "Reset the token used in the invitation link to invite someone\
        \ to an organization."
      operationId: "api_invite_reset-token_create"
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/OrganizationInvite"
  /api/label_links/:
    get:
      tags:
      - "Labels"
      summary: "List label links"
      description: "List label links for a specific label and project."
      operationId: "api_label_links_list"
      parameters:
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200"
    post:
      tags:
      - "Labels"
      summary: "Create label links"
      description: "Create label links to link new custom labels to your project labeling\
        \ configuration."
      operationId: "api_label_links_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LabelLink"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LabelLink"
  /api/label_links/{id}/:
    get:
      tags:
      - "Labels"
      summary: "Get label link"
      description: "Get label links for a specific project configuration. "
      operationId: "api_label_links_read"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LabelLink"
    delete:
      tags:
      - "Labels"
      summary: "Remove label link"
      description: "\nRemove a label link that links custom labels to your project\
        \ labeling configuration. If you remove a label link,\nthe label stops being\
        \ available for the project it was linked to. You can add a new label link\
        \ at any time. \n"
      operationId: "api_label_links_delete"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Labels"
      summary: "Update label link"
      description: "\nUpdate a label link that links custom labels to a project labeling\
        \ configuration, for example if the fromName,  \ntoName, or name parameters\
        \ for a tag in the labeling configuration change. \n"
      operationId: "api_label_links_partial_update"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LabelLink"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LabelLink"
  /api/labels/:
    get:
      tags:
      - "Labels"
      summary: "List labels"
      description: "List all custom labels added to your project separately from the\
        \ labeling configuration."
      operationId: "api_labels_list"
      parameters:
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_1"
    post:
      tags:
      - "Labels"
      summary: "Create labels"
      description: "Add labels to your project without updating the labeling configuration."
      operationId: "api_labels_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/LabelCreate"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/LabelCreate"
  /api/labels/bulk:
    post:
      tags:
      - "Labels"
      summary: "Bulk update labels"
      description: "\nIf you want to update the labels in saved annotations, use this\
        \ endpoint.\n"
      operationId: "api_labels_bulk_create"
      parameters: []
      responses:
        "201":
          description: ""
  /api/labels/{id}/:
    get:
      tags:
      - "Labels"
      summary: "Get label"
      description: "\nRetrieve a specific custom label used for your project by its\
        \ ID.\n"
      operationId: "api_labels_read"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Label"
    delete:
      tags:
      - "Labels"
      summary: "Remove labels"
      description: "Remove labels from your project without updating the labeling\
        \ configuration."
      operationId: "api_labels_delete"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Labels"
      summary: "Update labels"
      description: "Update labels used for your project without updating the labeling\
        \ configuration."
      operationId: "api_labels_partial_update"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/Label"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Label"
  /api/ml/:
    get:
      tags:
      - "Machine Learning"
      summary: "List ML backends"
      description: "\nList all configured ML backends for a specific project by ID.\n\
        Use the following cURL command:\n```bash\ncurl https://localhost:8080/api/ml?project={project_id}\
        \ -H 'Authorization: Token abc123'\n"
      operationId: "api_ml_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/MLBackend"
    post:
      tags:
      - "Machine Learning"
      summary: "Add ML Backend"
      description: "\nAdd an ML backend to a project using the Label Studio UI or\
        \ by sending a POST request using the following cURL \ncommand:\n```bash\n\
        curl -X POST -H 'Content-type: application/json' https://localhost:8080/api/ml\
        \ -H 'Authorization: Token abc123'\\\n--data '{\"url\": \"http://localhost:9090\"\
        , \"project\": {project_id}}' \n"
      operationId: "api_ml_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/data"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/data"
  /api/ml/{id}:
    get:
      tags:
      - "Machine Learning"
      summary: "Get ML Backend"
      description: "\nGet details about a specific ML backend connection by ID. For\
        \ example, make a GET request using the\nfollowing cURL command:\n```bash\n\
        curl https://localhost:8080/api/ml/{ml_backend_ID} -H 'Authorization: Token\
        \ abc123'\n"
      operationId: "api_ml_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this ml backend."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/MLBackend"
    delete:
      tags:
      - "Machine Learning"
      summary: "Remove ML Backend"
      description: "\nRemove an existing ML backend connection by ID. For example,\
        \ use the\nfollowing cURL command:\n```bash\ncurl -X DELETE https://localhost:8080/api/ml/{ml_backend_ID}\
        \ -H 'Authorization: Token abc123'\n"
      operationId: "api_ml_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this ml backend."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Machine Learning"
      summary: "Update ML Backend"
      description: "\nUpdate ML backend parameters using the Label Studio UI or by\
        \ sending a PATCH request using the following cURL command:\n```bash\ncurl\
        \ -X PATCH -H 'Content-type: application/json' https://localhost:8080/api/ml/{ml_backend_ID}\
        \ -H 'Authorization: Token abc123'\\\n--data '{\"url\": \"http://localhost:9091\"\
        }' \n"
      operationId: "api_ml_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this ml backend."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/MLBackend"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/MLBackend"
  /api/ml/{id}/interactive-annotating:
    post:
      tags:
      - "Machine Learning"
      summary: "Request Interactive Annotation"
      description: "\nSend a request to the machine learning backend set up to be\
        \ used for interactive preannotations to retrieve a\npredicted region based\
        \ on annotator input. \nSee [set up machine learning](https://labelstud.io/guide/ml.html#Get-interactive-preannotations)\
        \ for more.\n"
      operationId: "api_ml_interactive-annotating_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/MLInteractiveAnnotatingRequest"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this ML backend."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Interactive annotation has succeeded."
  /api/ml/{id}/train:
    post:
      tags:
      - "Machine Learning"
      summary: "Train"
      description: "\nAfter you add an ML backend, call this API with the ML backend\
        \ ID to start training with \nalready-labeled tasks. \n\nGet the ML backend\
        \ ID by [listing the ML backends for a project](https://labelstud.io/api/#operation/api_ml_list).\n"
      operationId: "api_ml_train_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/data_1"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this ML backend."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Training has successfully started."
        "500":
          description: "Training error"
          schema:
            type: "string"
            title: "Error message"
            description: "Error message"
            example: "Server responded with an error."
  /api/ml/{id}/versions:
    get:
      tags:
      - "Machine Learning"
      summary: "Get model versions"
      description: "Get available versions of the model."
      operationId: "api_ml_versions_read"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "List of available versions."
  /api/organizations/:
    get:
      tags:
      - "Organizations"
      summary: "List your organizations"
      description: "\nReturn a list of the organizations you've created or that you\
        \ have access to.\n"
      operationId: "api_organizations_list"
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OrganizationId"
  /api/organizations/{id}:
    get:
      tags:
      - "Organizations"
      summary: "Get organization settings"
      description: "Retrieve the settings for a specific organization by ID."
      operationId: "api_organizations_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this organization."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Organization"
    patch:
      tags:
      - "Organizations"
      summary: "Update organization settings"
      description: "Update the settings for a specific organization by ID."
      operationId: "api_organizations_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this organization."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/Organization"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Organization"
  /api/organizations/{id}/memberships:
    get:
      tags:
      - "Organizations"
      summary: "Get organization members list"
      description: "Retrieve a list of the organization members and their IDs."
      operationId: "api_organizations_memberships_list"
      parameters:
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this organization."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_2"
  /api/organizations/{id}/memberships/{user_pk}/:
    delete:
      tags:
      - "Organizations"
      summary: "Soft delete an organization member"
      description: "Soft delete a member from the organization."
      operationId: "api_organizations_memberships_delete"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "pk"
        in: "path"
        description: "A unique integer value identifying this organization."
        required: true
        type: "integer"
        x-exportParamName: "Pk"
      - name: "user_pk"
        in: "path"
        description: "A unique integer value identifying the user to be deleted from\
          \ the organization."
        required: true
        type: "integer"
        x-exportParamName: "UserPk"
      responses:
        "204":
          description: "Member deleted successfully."
        "404":
          description: "Member not found"
        "405":
          description: "User cannot soft delete self."
  /api/predictions/:
    get:
      tags:
      - "Predictions"
      summary: "List predictions"
      description: "List all predictions and their IDs."
      operationId: "api_predictions_list"
      parameters: []
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Prediction"
    post:
      tags:
      - "Predictions"
      summary: "Create prediction"
      description: "Create a prediction for a specific task."
      operationId: "api_predictions_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/Prediction"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/Prediction"
  /api/predictions/{id}/:
    get:
      tags:
      - "Predictions"
      summary: "Get prediction details"
      description: "Get details about a specific prediction by its ID."
      operationId: "api_predictions_read"
      parameters:
      - name: "id"
        in: "path"
        description: "Prediction ID"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Prediction"
    put:
      tags:
      - "Predictions"
      summary: "Put prediction"
      description: "Overwrite prediction data by prediction ID."
      operationId: "api_predictions_update"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/Prediction"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "Prediction ID"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Prediction"
    delete:
      tags:
      - "Predictions"
      summary: "Delete prediction"
      description: "Delete a prediction by prediction ID."
      operationId: "api_predictions_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "Prediction ID"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Predictions"
      summary: "Update prediction"
      description: "Update prediction data by prediction ID."
      operationId: "api_predictions_partial_update"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/Prediction"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "Prediction ID"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Prediction"
  /api/projects/:
    get:
      tags:
      - "Projects"
      summary: "List your projects"
      description: "\nReturn a list of the projects that you've created.\n\nTo perform\
        \ most tasks with the Label Studio API, you must specify the project ID, sometimes\
        \ referred to as the `pk`.\nTo retrieve a list of your Label Studio projects,\
        \ update the following command to match your own environment.\nReplace the\
        \ domain name, port, and authorization token, then run the following from\
        \ the command line:\n```bash\ncurl -X GET https://localhost:8080/api/projects/\
        \ -H 'Authorization: Token abc123'\n```\n"
      operationId: "api_projects_list"
      parameters:
      - name: "ordering"
        in: "query"
        description: "Which field to use when ordering the results."
        required: false
        type: "string"
        x-exportParamName: "Ordering"
        x-optionalDataType: "String"
      - name: "ids"
        in: "query"
        description: "ids"
        required: false
        type: "string"
        x-exportParamName: "Ids"
        x-optionalDataType: "String"
      - name: "title"
        in: "query"
        description: "title"
        required: false
        type: "string"
        x-exportParamName: "Title"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        description: "A page number within the paginated result set."
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "Number of results to return per page."
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/inline_response_200_3"
    post:
      tags:
      - "Projects"
      summary: "Create new project"
      description: "\nCreate a project and set up the labeling interface in Label\
        \ Studio using the API.\n\n```bash\ncurl -H Content-Type:application/json\
        \ -H 'Authorization: Token abc123' -X POST 'https://localhost:8080/api/projects'\
        \     --data '{\"label_config\": \"<View>[...]</View>\"}'\n```\n"
      operationId: "api_projects_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/Project"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/Project"
  /api/projects/validate/:
    post:
      tags:
      - "Projects"
      summary: "Validate label config"
      description: "Validate an arbitrary labeling configuration."
      operationId: "api_projects_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/ProjectLabelConfig"
        x-exportParamName: "Data"
      responses:
        "204":
          description: "Validation success"
  /api/projects/{id}/:
    get:
      tags:
      - "Projects"
      summary: "Get project by ID"
      description: "Retrieve information about a project by project ID."
      operationId: "api_projects_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Project"
    delete:
      tags:
      - "Projects"
      summary: "Delete project"
      description: "Delete a project by specified project ID."
      operationId: "api_projects_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Projects"
      summary: "Update project"
      description: "Update the project settings for a specific project."
      operationId: "api_projects_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/Project"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Project"
  /api/projects/{id}/export:
    get:
      tags:
      - "Export"
      summary: "Easy export of tasks and annotations"
      description: "\n<i>Note: if you have a large project it's recommended to use\
        \ \nexport snapshots, this easy export endpoint might have timeouts.</i><br/><br>\n\
        Export annotated tasks as a file in a specific format. \nFor example, to export\
        \ JSON annotations for a project to a file called `annotations.json`,\nrun\
        \ the following from the command line:\n```bash\ncurl -X GET https://localhost:8080/api/projects/{id}/export?exportType=JSON\
        \ -H 'Authorization: Token abc123' --output 'annotations.json'\n```\nTo export\
        \ all tasks, including skipped tasks and others without annotations, run the\
        \ following from the command line:\n```bash\ncurl -X GET https://localhost:8080/api/projects/{id}/export?exportType=JSON&download_all_tasks=true\
        \ -H 'Authorization: Token abc123' --output 'annotations.json'\n```\nTo export\
        \ specific tasks with IDs of 123 and 345, run the following from the command\
        \ line:\n```bash\ncurl -X GET https://localhost:8080/api/projects/{id}/export?ids[]=123\\\
        &ids[]=345 -H 'Authorization: Token abc123' --output 'annotations.json'\n\
        ```\n"
      operationId: "api_projects_export_read"
      parameters:
      - name: "export_type"
        in: "query"
        description: "Selected export format (JSON by default)"
        required: false
        type: "string"
        x-exportParamName: "ExportType"
        x-optionalDataType: "String"
      - name: "download_all_tasks"
        in: "query"
        description: "\nIf true, download all tasks regardless of status. If false,\
          \ download only annotated tasks.\n"
        required: false
        type: "string"
        x-exportParamName: "DownloadAllTasks"
        x-optionalDataType: "String"
      - name: "download_resources"
        in: "query"
        description: "\nIf true, download all resource files such as images, audio,\
          \ and others relevant to the tasks. \n"
        required: false
        type: "boolean"
        x-exportParamName: "DownloadResources"
        x-optionalDataType: "Bool"
      - name: "ids"
        in: "query"
        description: "\nSpecify a list of task IDs to retrieve only the details for\
          \ those tasks.\n"
        required: false
        type: "array"
        items:
          type: "integer"
          description: "Individual task ID"
          title: "Task ID"
        collectionFormat: "multi"
        x-exportParamName: "Ids"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Exported data"
          schema:
            type: "file"
            title: "Export file"
            description: "Export file with results"
  /api/projects/{id}/export/formats:
    get:
      tags:
      - "Export"
      summary: "Get export formats"
      description: "Retrieve the available export formats for the current project\
        \ by ID."
      operationId: "api_projects_export_formats_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "Export formats"
          schema:
            title: "Format list"
            type: "array"
            description: "List of available formats"
            items:
              type: "string"
              title: "Export format"
  /api/projects/{id}/exports/:
    get:
      tags:
      - "Export"
      summary: "List all export snapshots"
      description: "\nReturns a list of exported files for a specific project by ID.\n"
      operationId: "api_projects_exports_list"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Export"
    post:
      tags:
      - "Export"
      summary: "Create new export snapshot"
      description: "\nCreate a new export request to start a background task and generate\
        \ an export file for a specific project by ID.\n"
      operationId: "api_projects_exports_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/ExportCreate"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ExportCreate"
  /api/projects/{id}/exports/{export_pk}:
    get:
      tags:
      - "Export"
      summary: "Get export snapshot by ID"
      description: "\nRetrieve information about an export file by export ID for a\
        \ specific project.\n"
      operationId: "api_projects_exports_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - name: "export_pk"
        in: "path"
        description: "Primary key identifying the export file."
        required: true
        type: "string"
        x-exportParamName: "ExportPk"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Export"
    delete:
      tags:
      - "Export"
      summary: "Delete export snapshot"
      description: "\nDelete an export file by specified export ID.\n"
      operationId: "api_projects_exports_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - name: "export_pk"
        in: "path"
        description: "Primary key identifying the export file."
        required: true
        type: "string"
        x-exportParamName: "ExportPk"
      responses:
        "204":
          description: ""
  /api/projects/{id}/exports/{export_pk}/convert:
    post:
      tags:
      - "Export"
      summary: "Export conversion"
      description: "\nConvert export snapshot to selected format\n"
      operationId: "api_projects_exports_convert_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/ExportConvert"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - name: "export_pk"
        in: "path"
        description: "Primary key identifying the export file."
        required: true
        type: "string"
        x-exportParamName: "ExportPk"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ExportConvert"
  /api/projects/{id}/exports/{export_pk}/download:
    get:
      tags:
      - "Export"
      summary: "Download export snapshot as file in specified format"
      description: "\nDownload an export file in the specified format for a specific\
        \ project. Specify the project ID with the `id` \nparameter in the path and\
        \ the ID of the export file you want to download using the `export_pk` parameter\
        \ \nin the path. \n\nGet the `export_pk` from the response of the request\
        \ to [Create new export](/api#operation/api_projects_exports_create)\nor after\
        \ [listing export files](/api#operation/api_projects_exports_list).\n"
      operationId: "api_projects_exports_download_read"
      parameters:
      - name: "exportType"
        in: "query"
        description: "Selected export format"
        required: false
        type: "string"
        x-exportParamName: "ExportType"
        x-optionalDataType: "String"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - name: "export_pk"
        in: "path"
        description: "Primary key identifying the export file."
        required: true
        type: "string"
        x-exportParamName: "ExportPk"
      responses:
        "200":
          description: ""
  /api/projects/{id}/file-uploads:
    get:
      tags:
      - "Import"
      summary: "Get files list"
      description: "\nRetrieve the list of uploaded files used to create labeling\
        \ tasks for a specific project.\n"
      operationId: "api_projects_file-uploads_list"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this file upload."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - name: "all"
        in: "query"
        description: "Set to \"true\" if you want to retrieve all file uploads"
        required: false
        type: "boolean"
        x-exportParamName: "All"
        x-optionalDataType: "Bool"
      - name: "ids"
        in: "query"
        description: "Specify the list of file upload IDs to retrieve, e.g. ids=[1,2,3]"
        required: false
        type: "array"
        items:
          type: "integer"
          title: "File upload ID"
        collectionFormat: "multi"
        x-exportParamName: "Ids"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/FileUpload"
    delete:
      tags:
      - "Import"
      summary: "Delete files"
      description: "\nDelete uploaded files for a specific project.\n"
      operationId: "api_projects_file-uploads_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this file upload."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
  /api/projects/{id}/import:
    post:
      tags:
      - "Import"
      summary: "Import tasks"
      description: "\nImport data as labeling tasks in bulk using this API endpoint.\
        \ You can use this API endpoint to import multiple tasks.\nOne POST request\
        \ is limited at 250K tasks and 200 MB.\n\n**Note:** Imported data is verified\
        \ against a project *label_config* and must\ninclude all variables that were\
        \ used in the *label_config*. For example,\nif the label configuration has\
        \ a *$text* variable, then each item in a data object\nmust include a \"text\"\
        \ field.\n<br>\n\n## POST requests\n<hr style=\"opacity:0.3\">\n\nThere are\
        \ three possible ways to import tasks with this endpoint:\n\n### 1\\. **POST\
        \ with data**\nSend JSON tasks as POST data. Only JSON is supported for POSTing\
        \ files directly.\nUpdate this example to specify your authorization token\
        \ and Label Studio instance host, then run the following from\nthe command\
        \ line.\n\n```bash\ncurl -H 'Content-Type: application/json' -H 'Authorization:\
        \ Token abc123' \\\n-X POST 'https://localhost:8080/api/projects/1/import'\
        \ --data '[{\"text\": \"Some text 1\"}, {\"text\": \"Some text 2\"}]'\n```\n\
        \n### 2\\. **POST with files**\nSend tasks as files. You can attach multiple\
        \ files with different names.\n\n- **JSON**: text files in JavaScript object\
        \ notation format\n- **CSV**: text files with tables in Comma Separated Values\
        \ format\n- **TSV**: text files with tables in Tab Separated Value format\n\
        - **TXT**: simple text files are similar to CSV with one column and no header,\
        \ supported for projects with one source only\n\nUpdate this example to specify\
        \ your authorization token, Label Studio instance host, and file name and\
        \ path,\nthen run the following from the command line:\n\n```bash\ncurl -H\
        \ 'Authorization: Token abc123' \\\n-X POST 'https://localhost:8080/api/projects/1/import'\
        \ -F ‘file=@path/to/my_file.csv’\n```\n\n### 3\\. **POST with URL**\nYou can\
        \ also provide a URL to a file with labeling tasks. Supported file formats\
        \ are the same as in option 2.\n\n```bash\ncurl -H 'Content-Type: application/json'\
        \ -H 'Authorization: Token abc123' \\\n-X POST 'https://localhost:8080/api/projects/1/import'\
        \ \\\n--data '[{\"url\": \"http://example.com/test1.csv\"}, {\"url\": \"http://example.com/test2.csv\"\
        }]'\n```\n\n<br>\n"
      operationId: "api_projects_import_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/ImportApi"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "201":
          description: "Tasks successfully imported"
          schema:
            $ref: "#/definitions/Task creation response"
        "400":
          description: ""
          schema:
            type: "string"
            title: "Incorrect task data"
            description: "String with error description"
  /api/projects/{id}/imports/{import_pk}/:
    get:
      tags:
      - "Projects"
      summary: "Get project import info"
      description: "Return data related to async project import operation"
      operationId: "api_projects_imports_read"
      parameters:
      - name: "import_pk"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ImportPk"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project import."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ProjectImport"
  /api/projects/{id}/reimports/{reimport_pk}/:
    get:
      tags:
      - "Projects"
      summary: "Get project reimport info"
      description: "Return data related to async project reimport operation"
      operationId: "api_projects_reimports_read"
      parameters:
      - name: "reimport_pk"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ReimportPk"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project reimport."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ProjectReimport"
  /api/projects/{id}/tasks/:
    get:
      tags:
      - "Projects"
      summary: "List project tasks"
      description: "\nRetrieve a paginated list of tasks for a specific project. For\
        \ example, use the following cURL command:\n```bash\ncurl -X GET https://localhost:8080/api/projects/{id}/tasks/?page=1&page_size=10\
        \ -H 'Authorization: Token abc123'\n```\n"
      operationId: "api_projects_tasks_list"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - name: "page"
        in: "query"
        description: "[or \"start\"] current page"
        required: false
        type: "integer"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      - name: "page_size"
        in: "query"
        description: "[or \"length\"] tasks per page, use -1 to obtain all tasks (in\
          \ this case \"page\" has no effect and this operation might be slow)"
        required: false
        type: "integer"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
    delete:
      tags:
      - "Projects"
      summary: "Delete all tasks"
      description: "Delete all tasks from a specific project."
      operationId: "api_projects_tasks_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
  /api/projects/{id}/validate/:
    post:
      tags:
      - "Projects"
      summary: "Validate project label config"
      description: "\nDetermine whether the label configuration for a specific project\
        \ is valid.\n"
      operationId: "api_projects_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/ProjectLabelConfig"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this project."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ProjectLabelConfig"
  /api/storages/:
    get:
      tags:
      - "Storage"
      summary: "List all import storages from the project"
      description: "Retrieve a list of the import storages of all types with their\
        \ IDs."
      operationId: "api_storages_list"
      parameters:
      - name: "project"
        in: "path"
        description: "A unique integer value identifying your project."
        required: true
        type: "integer"
        x-exportParamName: "Project"
      responses:
        "200":
          description: "List of ImportStorageSerializer"
  /api/storages/azure/:
    get:
      tags:
      - "Storage: Azure"
      summary: "Get all import storage"
      description: "Get list of all Azure import storage connections."
      operationId: "api_storages_azure_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AzureBlobImportStorage"
    post:
      tags:
      - "Storage: Azure"
      summary: "Create new storage"
      description: "Get new Azure import storage"
      operationId: "api_storages_azure_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AzureBlobImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobImportStorage"
  /api/storages/azure/validate:
    post:
      tags:
      - "Storage: Azure"
      summary: "Validate import storage"
      description: "Validate a specific Azure import storage connection."
      operationId: "api_storages_azure_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AzureBlobImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobImportStorage"
  /api/storages/azure/{id}:
    get:
      tags:
      - "Storage: Azure"
      summary: "Get import storage"
      description: "Get a specific Azure import storage connection."
      operationId: "api_storages_azure_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this azure blob import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobImportStorage"
    delete:
      tags:
      - "Storage: Azure"
      summary: "Delete import storage"
      description: "Delete a specific Azure import storage connection."
      operationId: "api_storages_azure_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this azure blob import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage: Azure"
      summary: "Update import storage"
      description: "Update a specific Azure import storage connection."
      operationId: "api_storages_azure_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this azure blob import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AzureBlobImportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobImportStorage"
  /api/storages/azure/{id}/sync:
    post:
      tags:
      - "Storage: Azure"
      summary: "Sync import storage"
      description: "Sync tasks from an Azure import storage connection."
      operationId: "api_storages_azure_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AzureBlobImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobImportStorage"
  /api/storages/export:
    get:
      tags:
      - "Storage"
      summary: "List all export storages from the project"
      description: "Retrieve a list of the export storages of all types with their\
        \ IDs."
      operationId: "api_storages_export_list"
      parameters:
      - name: "project"
        in: "path"
        description: "A unique integer value identifying your project."
        required: true
        type: "integer"
        x-exportParamName: "Project"
      responses:
        "200":
          description: "List of ExportStorageSerializer"
  /api/storages/export/azure:
    get:
      tags:
      - "Storage: Azure"
      summary: "Get all export storage"
      description: "Get a list of all Azure export storage connections."
      operationId: "api_storages_export_azure_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AzureBlobExportStorage"
    post:
      tags:
      - "Storage: Azure"
      summary: "Create export storage"
      description: "Create a new Azure export storage connection to store annotations."
      operationId: "api_storages_export_azure_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AzureBlobExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobExportStorage"
  /api/storages/export/azure/validate:
    post:
      tags:
      - "Storage: Azure"
      summary: "Validate export storage"
      description: "Validate a specific Azure export storage connection."
      operationId: "api_storages_export_azure_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AzureBlobExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobExportStorage"
  /api/storages/export/azure/{id}:
    get:
      tags:
      - "Storage: Azure"
      summary: "Get export storage"
      description: "Get a specific Azure export storage connection."
      operationId: "api_storages_export_azure_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this azure blob export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobExportStorage"
    delete:
      tags:
      - "Storage: Azure"
      summary: "Delete export storage"
      description: "Delete a specific Azure export storage connection."
      operationId: "api_storages_export_azure_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this azure blob export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage: Azure"
      summary: "Update export storage"
      description: "Update a specific Azure export storage connection."
      operationId: "api_storages_export_azure_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this azure blob export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AzureBlobExportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobExportStorage"
  /api/storages/export/azure/{id}/sync:
    post:
      tags:
      - "Storage: Azure"
      summary: "Sync export storage"
      description: "Sync tasks from an Azure export storage connection."
      operationId: "api_storages_export_azure_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AzureBlobExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/AzureBlobExportStorage"
  /api/storages/export/gcs:
    get:
      tags:
      - "Storage: GCS"
      summary: "Get all export storage"
      description: "Get a list of all GCS export storage connections."
      operationId: "api_storages_export_gcs_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GCSExportStorage"
    post:
      tags:
      - "Storage: GCS"
      summary: "Create export storage"
      description: "Create a new GCS export storage connection to store annotations."
      operationId: "api_storages_export_gcs_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/GCSExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/GCSExportStorage"
  /api/storages/export/gcs/validate:
    post:
      tags:
      - "Storage: GCS"
      summary: "Validate export storage"
      description: "Validate a specific GCS export storage connection."
      operationId: "api_storages_export_gcs_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/GCSExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/GCSExportStorage"
  /api/storages/export/gcs/{id}:
    get:
      tags:
      - "Storage: GCS"
      summary: "Get export storage"
      description: "Get a specific GCS export storage connection."
      operationId: "api_storages_export_gcs_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this gcs export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/GCSExportStorage"
    delete:
      tags:
      - "Storage: GCS"
      summary: "Delete export storage"
      description: "Delete a specific GCS export storage connection."
      operationId: "api_storages_export_gcs_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this gcs export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage: GCS"
      summary: "Update export storage"
      description: "Update a specific GCS export storage connection."
      operationId: "api_storages_export_gcs_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this gcs export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/GCSExportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/GCSExportStorage"
  /api/storages/export/gcs/{id}/sync:
    post:
      tags:
      - "Storage: GCS"
      summary: "Sync export storage"
      description: "Sync tasks from an GCS export storage connection."
      operationId: "api_storages_export_gcs_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/GCSExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/GCSExportStorage"
  /api/storages/export/localfiles:
    get:
      tags:
      - "Storage: Local"
      summary: "Get all export storage"
      description: "Get a list of all Local export storage connections."
      operationId: "api_storages_export_localfiles_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/LocalFilesExportStorage"
    post:
      tags:
      - "Storage: Local"
      summary: "Create export storage"
      description: "Create a new local file export storage connection to store annotations."
      operationId: "api_storages_export_localfiles_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LocalFilesExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesExportStorage"
  /api/storages/export/localfiles/validate:
    post:
      tags:
      - "Storage: Local"
      summary: "Validate export storage"
      description: "Validate a specific local file export storage connection."
      operationId: "api_storages_export_localfiles_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LocalFilesExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesExportStorage"
  /api/storages/export/localfiles/{id}:
    get:
      tags:
      - "Storage: Local"
      summary: "Get export storage"
      description: "Get a specific local file export storage connection."
      operationId: "api_storages_export_localfiles_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this local files export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesExportStorage"
    delete:
      tags:
      - "Storage: Local"
      summary: "Delete export storage"
      description: "Delete a specific local file export storage connection."
      operationId: "api_storages_export_localfiles_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this local files export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage: Local"
      summary: "Update export storage"
      description: "Update a specific local file export storage connection."
      operationId: "api_storages_export_localfiles_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this local files export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LocalFilesExportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesExportStorage"
  /api/storages/export/localfiles/{id}/sync:
    post:
      tags:
      - "Storage: Local"
      summary: "Sync export storage"
      description: "Sync tasks from a local file export storage connection."
      operationId: "api_storages_export_localfiles_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LocalFilesExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesExportStorage"
  /api/storages/export/redis:
    get:
      tags:
      - "Storage: Redis"
      summary: "Get all export storage"
      description: "Get a list of all Redis export storage connections."
      operationId: "api_storages_export_redis_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RedisExportStorage"
    post:
      tags:
      - "Storage: Redis"
      summary: "Create export storage"
      description: "Create a new Redis export storage connection to store annotations."
      operationId: "api_storages_export_redis_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/RedisExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/RedisExportStorage"
  /api/storages/export/redis/validate:
    post:
      tags:
      - "Storage: Redis"
      summary: "Validate export storage"
      description: "Validate a specific Redis export storage connection."
      operationId: "api_storages_export_redis_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/RedisExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/RedisExportStorage"
  /api/storages/export/redis/{id}:
    get:
      tags:
      - "Storage: Redis"
      summary: "Get export storage"
      description: "Get a specific Redis export storage connection."
      operationId: "api_storages_export_redis_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this redis export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RedisExportStorage"
    delete:
      tags:
      - "Storage: Redis"
      summary: "Delete export storage"
      description: "Delete a specific Redis export storage connection."
      operationId: "api_storages_export_redis_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this redis export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage: Redis"
      summary: "Update export storage"
      description: "Update a specific Redis export storage connection."
      operationId: "api_storages_export_redis_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this redis export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/RedisExportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RedisExportStorage"
  /api/storages/export/redis/{id}/sync:
    post:
      tags:
      - "Storage: Redis"
      summary: "Sync export storage"
      description: "Sync tasks from a specific Redis export storage connection."
      operationId: "api_storages_export_redis_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/RedisExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/RedisExportStorage"
  /api/storages/export/s3:
    get:
      tags:
      - "Storage:S3"
      summary: "Get all export storage"
      description: "Get a list of all S3 export storage connections."
      operationId: "api_storages_export_s3_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/S3ExportStorage"
    post:
      tags:
      - "Storage:S3"
      summary: "Create export storage"
      description: "Create a new S3 export storage connection to store annotations."
      operationId: "api_storages_export_s3_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/S3ExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/S3ExportStorage"
  /api/storages/export/s3/validate:
    post:
      tags:
      - "Storage:S3"
      summary: "Validate export storage"
      description: "Validate a specific S3 export storage connection."
      operationId: "api_storages_export_s3_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/S3ExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/S3ExportStorage"
  /api/storages/export/s3/{id}:
    get:
      tags:
      - "Storage:S3"
      summary: "Get export storage"
      description: "Get a specific S3 export storage connection."
      operationId: "api_storages_export_s3_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this s3 export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/S3ExportStorage"
    delete:
      tags:
      - "Storage:S3"
      summary: "Delete export storage"
      description: "Delete a specific S3 export storage connection."
      operationId: "api_storages_export_s3_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this s3 export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage:S3"
      summary: "Update export storage"
      description: "Update a specific S3 export storage connection."
      operationId: "api_storages_export_s3_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this s3 export storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/S3ExportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/S3ExportStorage"
  /api/storages/export/s3/{id}/sync:
    post:
      tags:
      - "Storage:S3"
      summary: "Sync export storage"
      description: "Sync tasks from an S3 export storage connection."
      operationId: "api_storages_export_s3_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/S3ExportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/S3ExportStorage"
  /api/storages/export/types:
    get:
      tags:
      - "Storage"
      summary: "List all export storages types"
      description: "Retrieve a list of the export storages types."
      operationId: "api_storages_export_types_list"
      parameters: []
      responses:
        "200":
          description: "A list of export storages types {'name': name, 'title': title}."
  /api/storages/gcs/:
    get:
      tags:
      - "Storage: GCS"
      summary: "Get all import storage"
      description: "Get a list of all GCS import storage connections."
      operationId: "api_storages_gcs_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/GCSImportStorage"
    post:
      tags:
      - "Storage: GCS"
      summary: "Create import storage"
      description: "Create a new GCS import storage connection."
      operationId: "api_storages_gcs_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/GCSImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/GCSImportStorage"
  /api/storages/gcs/validate:
    post:
      tags:
      - "Storage: GCS"
      summary: "Validate import storage"
      description: "Validate a specific GCS import storage connection."
      operationId: "api_storages_gcs_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/GCSImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/GCSImportStorage"
  /api/storages/gcs/{id}:
    get:
      tags:
      - "Storage: GCS"
      summary: "Get import storage"
      description: "Get a specific GCS import storage connection."
      operationId: "api_storages_gcs_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this gcs import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/GCSImportStorage"
    delete:
      tags:
      - "Storage: GCS"
      summary: "Delete import storage"
      description: "Delete a specific GCS import storage connection."
      operationId: "api_storages_gcs_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this gcs import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage: GCS"
      summary: "Update import storage"
      description: "Update a specific GCS import storage connection."
      operationId: "api_storages_gcs_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this gcs import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/GCSImportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/GCSImportStorage"
  /api/storages/gcs/{id}/sync:
    post:
      tags:
      - "Storage: GCS"
      summary: "Sync import storage"
      description: "Sync tasks from an GCS import storage connection."
      operationId: "api_storages_gcs_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/GCSImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/GCSImportStorage"
  /api/storages/localfiles/:
    get:
      tags:
      - "Storage: Local"
      summary: "Get all import storage"
      description: "Get a list of all local file import storage connections."
      operationId: "api_storages_localfiles_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/LocalFilesImportStorage"
    post:
      tags:
      - "Storage: Local"
      summary: "Create import storage"
      description: "Create a new local file import storage connection."
      operationId: "api_storages_localfiles_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LocalFilesImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesImportStorage"
  /api/storages/localfiles/validate:
    post:
      tags:
      - "Storage: Local"
      summary: "Validate import storage"
      description: "Validate a specific local file import storage connection."
      operationId: "api_storages_localfiles_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LocalFilesImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesImportStorage"
  /api/storages/localfiles/{id}:
    get:
      tags:
      - "Storage: Local"
      summary: "Get import storage"
      description: "Get a specific local file import storage connection."
      operationId: "api_storages_localfiles_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this local files import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesImportStorage"
    delete:
      tags:
      - "Storage: Local"
      summary: "Delete import storage"
      description: "Delete a specific local import storage connection."
      operationId: "api_storages_localfiles_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this local files import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage: Local"
      summary: "Update import storage"
      description: "Update a specific local file import storage connection."
      operationId: "api_storages_localfiles_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this local files import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LocalFilesImportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesImportStorage"
  /api/storages/localfiles/{id}/sync:
    post:
      tags:
      - "Storage: Local"
      summary: "Sync import storage"
      description: "Sync tasks from a local file import storage connection."
      operationId: "api_storages_localfiles_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/LocalFilesImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/LocalFilesImportStorage"
  /api/storages/redis/:
    get:
      tags:
      - "Storage: Redis"
      summary: "Get all import storage"
      description: "Get a list of all Redis import storage connections."
      operationId: "api_storages_redis_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RedisImportStorage"
    post:
      tags:
      - "Storage: Redis"
      summary: "Create import storage"
      description: "Create a new Redis import storage connection."
      operationId: "api_storages_redis_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/RedisImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/RedisImportStorage"
  /api/storages/redis/validate:
    post:
      tags:
      - "Storage: Redis"
      summary: "Validate import storage"
      description: "Validate a specific Redis import storage connection."
      operationId: "api_storages_redis_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/RedisImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/RedisImportStorage"
  /api/storages/redis/{id}:
    get:
      tags:
      - "Storage: Redis"
      summary: "Get import storage"
      description: "Get a specific Redis import storage connection."
      operationId: "api_storages_redis_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this redis import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RedisImportStorage"
    delete:
      tags:
      - "Storage: Redis"
      summary: "Delete import storage"
      description: "Delete a specific Redis import storage connection."
      operationId: "api_storages_redis_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this redis import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage: Redis"
      summary: "Update import storage"
      description: "Update a specific Redis import storage connection."
      operationId: "api_storages_redis_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this redis import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/RedisImportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/RedisImportStorage"
  /api/storages/redis/{id}/sync:
    post:
      tags:
      - "Storage: Redis"
      summary: "Sync import storage"
      description: "Sync tasks from a specific Redis import storage connection."
      operationId: "api_storages_redis_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/RedisImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/RedisImportStorage"
  /api/storages/s3/:
    get:
      tags:
      - "Storage:S3"
      summary: "Get import storage"
      description: "Get a list of all S3 import storage connections."
      operationId: "api_storages_s3_list"
      parameters:
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/S3ImportStorage"
    post:
      tags:
      - "Storage:S3"
      summary: "Create new storage"
      description: "Get new S3 import storage"
      operationId: "api_storages_s3_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/S3ImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/S3ImportStorage"
  /api/storages/s3/validate:
    post:
      tags:
      - "Storage:S3"
      summary: "Validate import storage"
      description: "Validate a specific S3 import storage connection."
      operationId: "api_storages_s3_validate_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/S3ImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/S3ImportStorage"
  /api/storages/s3/{id}:
    get:
      tags:
      - "Storage:S3"
      summary: "Get import storage"
      description: "Get a specific S3 import storage connection."
      operationId: "api_storages_s3_read"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this s3 import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/S3ImportStorage"
    delete:
      tags:
      - "Storage:S3"
      summary: "Delete import storage"
      description: "Delete a specific S3 import storage connection."
      operationId: "api_storages_s3_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this s3 import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Storage:S3"
      summary: "Update import storage"
      description: "Update a specific S3 import storage connection."
      operationId: "api_storages_s3_partial_update"
      parameters:
      - name: "id"
        in: "path"
        description: "A unique integer value identifying this s3 import storage."
        required: true
        type: "integer"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/S3ImportStorage"
        x-exportParamName: "Data"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/S3ImportStorage"
  /api/storages/s3/{id}/sync:
    post:
      tags:
      - "Storage:S3"
      summary: "Sync import storage"
      description: "Sync tasks from an S3 import storage connection."
      operationId: "api_storages_s3_sync_create"
      parameters:
      - name: "id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/S3ImportStorage"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/S3ImportStorage"
  /api/storages/types:
    get:
      tags:
      - "Storage"
      summary: "List all import storages types"
      description: "Retrieve a list of the import storages types."
      operationId: "api_storages_types_list"
      parameters: []
      responses:
        "200":
          description: "A list of import storages types {'name': name, 'title': title}."
  /api/tasks/:
    get:
      tags:
      - "Tasks"
      summary: "Get tasks list"
      description: "\nRetrieve a list of tasks with pagination for a specific view\
        \ or project, by using filters and ordering.\n"
      operationId: "api_tasks_list"
      parameters:
      - name: "view"
        in: "query"
        description: "View ID"
        required: false
        type: "integer"
        x-exportParamName: "View"
        x-optionalDataType: "Int32"
      - name: "project"
        in: "query"
        description: "Project ID"
        required: false
        type: "integer"
        x-exportParamName: "Project"
        x-optionalDataType: "Int32"
      - name: "resolve_uri"
        in: "query"
        description: "Resolve task data URIs using Cloud Storage"
        required: false
        type: "boolean"
        x-exportParamName: "ResolveUri"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: ""
          schema:
            type: "array"
            items:
              $ref: "#/definitions/BaseTask"
    post:
      tags:
      - "Tasks"
      summary: "Create task"
      description: "Create a new labeling task in Label Studio."
      operationId: "api_tasks_create"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/BaseTask"
        x-exportParamName: "Data"
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/BaseTask"
  /api/tasks/{id}/:
    get:
      tags:
      - "Tasks"
      summary: "Get task"
      description: "\nGet task data, metadata, annotations and other attributes for\
        \ a specific labeling task by task ID.\n"
      operationId: "api_tasks_read"
      parameters:
      - name: "id"
        in: "path"
        description: "Task ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/data_manager_task_serializer"
    delete:
      tags:
      - "Tasks"
      summary: "Delete task"
      description: "Delete a task in Label Studio. This action cannot be undone!"
      operationId: "api_tasks_delete"
      parameters:
      - name: "id"
        in: "path"
        description: "Task ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: ""
    patch:
      tags:
      - "Tasks"
      summary: "Update task"
      description: "Update the attributes of an existing labeling task."
      operationId: "api_tasks_partial_update"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/TaskSimple"
        x-exportParamName: "Data"
      - name: "id"
        in: "path"
        description: "Task ID"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/TaskSimple"
  /api/tasks/{id}/annotations/:
    get:
      tags:
      - "Annotations"
      summary: "Get all task annotations"
      description: "List all annotations for a task."
      operationId: "api_tasks_annotations_list"
      parameters:
      - name: "id"
        in: "path"
        description: "Task ID"
        required: true
        type: "integer"
[...]
